name: Publish Dev Portal Documentation

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish Docs for Dev Portal
        uses: algorandfoundation/algokit-shared-config/.github/actions/devportal-publish-docs-py@chore/separate-actions
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
